<h1><%= t('user_mailer.password_reset.greeting', name: @user.name) %></h1>

  <p><%= t('user_mailer.password_reset.body') %></p>

  <%= link_to t('user_mailer.password_reset.reset_link'),
      edit_password_reset_url(@user, reset_token: @user.reset_token) %>

  <p><%= t('user_mailer.password_reset.ignore_message') %></p>
