<% content_for :title, t('business_cards.index.title') %>

<div class="container">
  <h1><%= t('business_cards.index.title') %></h1>

  <% if @business_cards.any? %>
    <div class="row">
      <% @business_cards.each do |business_card| %>
        <div class="col-md-4">
          <%= render 'business_card', business_card: business_card %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted"><%= t('business_cards.index.no_business_cards') %></p>
  <% end %>
</div>