<% content_for :title, "名刺一覧" %>

<div class="container">
  <h1>名刺一覧</h1>

  <% if @business_cards.any? %>
    <div class="row">
      <% @business_cards.each do |business_card| %>
        <div class="col-md-4">
          <%= render 'business_card', business_card: business_card %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted">まだ名刺が登録されていません。</p>
  <% end %>
</div>