<% content_for :title, "#{@business_card.name} - #{t('business_cards.show.title')}" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <!-- React BusinessCardDetail コンポーネント -->
      <div data-controller="business-card-detail"
           data-business-card-detail-card-value="<%= @business_card.to_json %>"
           data-business-card-detail-similar-cards-value="<%= @similar_cards.to_json %>">

        <!-- Loading表示（Reactがマウントされるまでの間） -->
        <div class="text-center" id="business-card-detail-loading"></div>
      </div>
    </div>
  </div>
</div>
